<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>呪われた人形屋敷からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/team_logo.png" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/noroware_header.png" alt="呪われた人形屋敷からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>使用人からのナゾ</h2>
            <p class="text-center">友人によると、この屋敷に迷い込んだのは一人ではないらしい。<br>
              登山家、蒐集家、お嬢様と執事。そして屋敷の使用人が一緒だそうだ。<br>
             　<br>
              「おやおや皆さん。外は嵐で大変だったでしょう？ようこそ、この屋敷へ」<br>
              「すっかり体が冷えてしまったでしょう。<br>
              暖まりながら、暇つぶしにこんなナゾはいかがですか？」</p>
          
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/question_1.png" alt="">
              </figure>
              <p class="text-center">「そうそう、困ったときにはヒントがあります。できるだけすぐみないように頑張って下さいね」</p>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>キーワードを入力</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>
            
            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：１  クリア！</div>
              <div class="clear-message__content">「皆様には簡単すぎたようですね、お見事です」<br>
                ナゾに正解した一同が喜んでいると、玄関から蒐集家が息を切らして走ってきた。<br>
                 「み、みんな大変だ。扉が閉まってて開かないぞ…」<br>
                玄関に移動すると、そこにはさっき入ってきたときにはいなかった人形がちょこんと扉の前に座っていた。</div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        
        <!-- STAGE2問題セクション　ここから　-->
        <section class="section".>
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>人形の背中</h2>
              <p class="text-center">どうやら、謎を解くことで<br>
                人形の背中が開けられる仕組みのようだ。<br>
                「この人形が持っていたメモが鍵じゃないかな…！！早速解いてみよう！」</p>
              
            <div class="container">
              <figure class="container">
                <img src="assets/images/question_2.png" alt="">
              </figure>
                  <p class="text-center">「あ、もし答えに辿り着けなさそうだったら私もこっちで考えてみるね！！ヒントになるかも！！」</p>
                </div>
          </div>
        </section>
                  <!-- STAGE2問題セクション　ここまで -->
        
                  <!-- STAGE2解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE:2</span>キーワードを入力</h2>
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
            
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
          </div>
        </section>
                  <!-- STAGE2解答入力セクション　ここまで -->
    

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　クリア！</div>
              <div class="clear-message__content">人形の背中から出てきたのは小さな鍵だった。使用人に見せると、<br>
                「ふむ、これは間違いなく物置の鍵です」<br>
                「な、なんでそんなものが急に現れた人形の中にあるんですの！？」<br>
                「も、もしかして人形の呪いで閉じ込められたんじゃないっすか…？」<br>
                とりあえず、怖がっていても仕方ないということで皆で物置に向かうことになった…</div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->
      
      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">
        
        <!-- STAGE3問題セクション　ここから　-->
         　<section class="section">
             <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>正しい順番の人形</h2>
              <p class="text-center">物置の中に入ると目立つ位置に人形たちが座っていた。<br>
                人形の足元には一枚の写真が残されている。<br>
                どうやら今座っている人形とは順番が違っているようだが…<br>
                彼らが写真を見てヒントをくれるので正しい順番を友人に教えよう！</p>
               
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/stage.png" alt="">
              </figure>
        　　　　　　　　　　　　　　　<p class="text-center">「情報が断片的で混乱しそうだね…わかったら答えは漢字四文字で教えて欲しいな！！」</p>
              
               </div>
            </div>
        </section>
        <!-- STAGE3問題セクション　ここまで -->
        
        <!-- STAGE3解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE:3</span>キーワードを入力</h2>
            
                  <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
            
                  <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
        　　　　　　　　　　　　　　　　　　　　<!-- STAGE3解答入力セクション　ここまで -->

        <!-- STAGE3クリア画面　ここから -->
        <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：3　クリア！</div>
              <div class="clear-message__content">人形を並び替えると突然壁から音が！<br>
                「か、隠し扉...？にしては小さいな...」<br>
                扉をそっと開けてみると<br>
                中には一つの箱が入っていた...</div>
                <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->
        
      </div>
      <!-- STAGE3　ここまで -->

      <!-- STAGE4　ここから -->
      <div v-if="next['stage3']" id="sectionStage4" class="stage">

        <!-- STAGE4問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：4</span>箱の鍵の解除番号は？</h2>
            <p class="text-center">箱には鍵がかかっており、4桁の数字を入力しなくてはいけない。<br>
              蓋部分に貼られた紙に書いてある謎が鍵になっているようだ。</p>
            <figure class="image__container">
              <img src="assets/images/question_4.png" alt="">
            </figure>
             <p class="text-center">「うーん…これは発想力が大事な謎ですわね…なかなか閃かないときは見方を変えてみるのがいいかもしれませんわ」</p>
          </div>
        </section>
        <!-- STAGE4問題セクション　ここまで -->

        <!-- STAGE4解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：4</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage4', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 '' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1)"></answer-input> 
            <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE4解答入力セクション　ここまで -->
        
        <!-- STAGE4クリア画面　ここから -->
        <section v-if="clear['stage4']" v-bind:class="{isClear:clear['stage4']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：4 クリア！</div>
              <div class="clear-message__content">箱を開けると、中には男性と女性、そして子供が一緒に写っている写真と、一枚のメモが出てきた。<br>
                写真の子供は綺麗にラッピングされた人形を嬉しそうに抱えている。<br>
                三人の後ろにはたくさんの人形が綺麗に並べられて写っていた。<br>
                <br>
                「記念写真のようですな。ほら、ここに日付が」<br>
                「箱の暗証番号と同じですわね…」<br>
                <br>
                入っていたメモには、<br>
                「廊下の一番奥の扉で待っている。」<br>
                と書かれていた。</div>
                <button v-on:click="nextStage('stage4')" onclick="location.href='#sectionStage5'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE4クリア画面　ここまで -->
        
      </div>
      <!-- STAGE4　ここまで -->
        
           <!-- STAGE5　ここから -->
      <div v-if="next['stage4']" id="sectionStage5" class="stage">

        <!-- STAGE5問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：5</span>この扉の先には？</h2>
            <p class="text-center">廊下の一番奥の扉にはこんなことが書かれていた。<br>
              <br>
              『この扉を開けるには、この部屋の主人の誕生日が必要だ』</p>
            <figure class="image__container">
              <img src="assets/images/question_4.png" alt="">
            </figure>
             <p class="text-center">「誕生日...?」</p>
          </div>
        </section>
        <!-- STAGE5問題セクション　ここまで -->

        <!-- STAGE5解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：5</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage4', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 '' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage5']['q1']" v-on:answer-input="answerInput($event, 'stage5', 1, 'final')"></answer-input> 
            <a class="link-hint" href="hint5.html" target="hint5">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE5解答入力セクション　ここまで -->
        
      </div>
      <!-- STAGE5　ここまで -->                                                            
     
    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
